@import '../desktop/Dashboard';

@media (max-width: 992px) {
  .dashboard-page {
    .dashboard-grid {
      grid-template-columns: 1fr 1fr;
      
      .calorie-card {
        grid-column: span 2;
      }
      .food-logger-card {
        grid-column: span 2;
      }
    }
  }
}
